.users_list_container {
    padding: 20px;
    min-height: 77vh;
    overflow-x: auto;
    h1 {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
        padding: 30px;
    }
    .add_button {
        display: block;
        width: 150px;
        padding: 10px;
        margin: auto;
        margin-bottom: 3%;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        border: 2px solid #333;
        border-radius: 10px; 
        background-color: #EAF2E3;
        color: #333;
        &:hover{
            background-color: #66D7D1;
        }
    }
    .table {
        background-color: #EAF2E3;
        width: 80%;
        margin: auto;
        border: 2px solid #333;
        border-collapse: collapse;
        .thead_users_list {
            background-color: #66D7D1;
            text-transform: uppercase;
        }
        th {
            text-align: center;
            border: 2px solid #333;
            padding: 5px;
        }
        td {
            text-align: center;
            border: 2px solid #333;
            vertical-align: middle;
            padding: 5px;
        }
    }
}